/* Custom CSS */

.footer-item-3-socials a {
    background: none;
}

.footer-item-3-location {
    font-size: 15px;
    color: #fff;
    line-height: 2rem;
}

.footer-item-3-mail {
    font-size: 15px;
}

.breadcrumb > .active {
    color: #fff;
    font-size: 20px;
}

.breadcrumb li:before {
    top: 0px !important;
}

/* Blog */
.blog-2.blog .blog-item-category {
    text-align: center;
}

.blog-2.blog .blog-item-title h3 a {
    line-height: 2.5rem;
}
.get-item-text {
    font-size: 14px;
}

.feedback {
    padding: 70px 0 0;
}
/* Q Card */
.qcard-img {
    padding-bottom: 40px;
    text-align: center;
    margin: 0 auto;
    display:block;
}

.qcard h6 {
    line-height: 1.5rem;
}

.finance-options {
    padding: 70px 0;
}
