/* Custom CSS */

.section-title {
    margin-bottom:80px;
}

.header {
    padding: 12px 0px;
}

.header-logo img {
    width: auto;
    height: 370px;
    top: -105px;
    left: -130px;
}

.top-bar {
    font-size: 14px;
    top: -45px;
}

.top-menu-logo {
    height: 80px;
    font-size: 24px;
    float: left;
    position: relative;
    top: -2px;
    margin-right: 20px;
    display: none;
}

.top-menu-logo img {
    position: relative;
    width: auto;
    height: 160px;
    margin-right: 7px;
    top: -29px;
    margin-bottom: -80px;
}

.top-bar-adress {
    margin-top: 20px;
    margin-bottom: 10px;
    float: right;
    font-size: 17px;
}

.top-bar-mail {
    font-size: 17px;
    margin-left: 20px;
    margin-bottom: 10px;
}

.top-bar-social {
    font-size: 17px;
    margin-right: -10px;
    text-align: right;
}

.top-bar-search {
    float: right;
}

#header-make-an-appointment-spacing {
    margin-bottom: -160px;
    margin-left: -130px;
}

.logo-for-mobile a img {
    max-width: none;
    max-height: none;
    width: auto;
    height: 160px !important;
}

.show-menu {
    border: none;
    box-shadow: none;
    margin: 30px 5px 0px;
    background: transparent;
}

.mobile-header-buttons {
    margin-top: 20px;
}

.footer-item-3-socials a {
    background: none;
}

.footer-item-3-location {
    font-size: 15px;
    color: #fff;
    line-height: 2rem;
}

.footer-item-3-mail {
    font-size: 15px;
}

.breadcrumb > .active {
    color: #fff;
    font-size: 20px;
}

.breadcrumb li:before {
    top: 0px !important;
}

/* Blog */
.blog-2.blog .blog-item-category {
    text-align: center;
}

.blog-2.blog .blog-item-title h3 a {
    line-height: 2.5rem;
}
.get-item-text {
    font-size: 14px;
}

.feedback {
    padding: 70px 0 0;
}
/* Q Card */
.qcard-img {
    padding-bottom: 40px;
    text-align: center;
    margin: 0 auto;
    display:block;
}

.qcard h6 {
    line-height: 1.5rem;
}

.finance-options {
    padding: 70px 0;
}
.gallery-1-items {
    margin-top: 70px !important;
}
/* Payment Options */
.payment-options {
    padding: 0px !important;
}
.panel-group .panel-heading h4 a.collapsed {
    border: 2px #00acdb solid;
}

#accordion > .panel.panel-default {
    margin-bottom: 30px;
}

/* Staff Section */
.single-staff-panel {
    margin-bottom: 60px;
}

.doctors-text-doctor img {
    max-width: 100%;
    padding-bottom: 20px;
}

.doctors-text-left {
    float: left;
    width: 67%;
    margin-right: 3%;
}

.doctors-text-right {
    float: left;
    width: 67%;
    margin-left: 3%;
}  
/* Slider */
.slider .container {
    top: 100px;
}

/* Partners */
.partners-item-image {
    margin: 0 auto;
    padding: 10px 0;
}

/* Testimonials */
.review-item-text,
.review-item-name,
.review-item-position {
    padding-left: 0px;
}
.gallery-1-items {
    margin-top: 70px !important;
}

/* Payment Options */

.payment-options {
    text-align: center;
    padding: 80px 0 70px 0;
}

.payment-options img {
    max-width: 95%;
}

.payment-options .section-title {
    margin-bottom: 40px;
}
ul.footer-nav {
    padding-left: 0px;
    list-style: none;
    font-size: 15px;
}

.footer-nav li {
    margin-bottom: 14px;
}

.footer-item-3-phone {
    font-size: 16px;
}

.booking-practices {
    line-height: 3rem;
    margin-top: 20px; 
    margin-bottom: 20px;
    text-align: center;
}

.booking-practices input[type="checkbox"]:nth-child(2) {
    margin-left: 0px;
}

.booking-practices input[type="checkbox"] {
    margin-left: 10px;
    margin-right: 5px;
}

.gsc-adBlock {
    display: none !important;
}

.cse .gsc-control-cse, .gsc-control-cse {
    margin-right: -24px;
    border-color: transparent !important;
    background-color: transparent !important;
}

/* Responsive */
@media (max-width: 768px) {
    .top-bar {
        top: 0px;
    }

    .header-logo img {
        height: 200px !important;
        top: -266px;
        left: -20px !important;
        margin-bottom: -420px !important;
        margin-top: 40px;
    }

    #header-make-an-appointment-spacing {
        margin-bottom: 0px;
        margin-left: 25vw;
    }
    
    #header-call-button-spacing {
        padding: 9px;
        border-radius: 5px;
        font-size: 2.5rem;
        margin-left: 28vw;
        margin-top: 5vh;
    }

    .top-bar-adress {
        margin-top: 0px;
        text-align: center;
        margin-bottom: 30px;
    }

    .top-bar-social {
        margin-right: 0px;
        text-align: center;
    }

    .top-bar-social i {
        font-size: 20px;
    }

    .bg-child-4 {
        margin-top: 30px;
    }
}
