/* Custom CSS */

.footer-item-3-socials a {
    background: none;
}

.footer-item-3-location {
    font-size: 15px;
    color: #fff;
    line-height: 2rem;
}

.footer-item-3-mail {
    font-size: 15px;
}

.breadcrumb > .active {
    color: #fff;
    font-size: 20px;
}

.breadcrumb li:before {
    top: 0px !important;
}

/* Payment Options */
.panel-group .panel-heading h4 a.collapsed {
    border: 2px #00acdb solid;
}

#accordion > .panel.panel-default {
    margin-bottom: 30px;
}